:root   {
    --btn-bg: #FF7400;
    --text-color: #D67E34;
    --white: #fff;
    --Coockie: "Cookie", cursive;
    --Open-Sans: "Open Sans", serif;
    --Open-Sans-italic: "Open Sans", italic;
    --Tinos: "Tinos", serif;
}